[submodule "Week1/lib/forge-std"]
	path = Week1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week1/erc1363-exercises/lib/openzeppelin-contracts"]
	path = Week1/erc1363-exercises/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Week1/erc1363-exercises/lib/erc1363-payable-token"]
	path = Week1/erc1363-exercises/lib/erc1363-payable-token
	url = https://github.com/vittominacori/erc1363-payable-token
[submodule "Week2/lib/forge-std"]
	path = Week2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week2/lib/openzeppelin-contracts"]
	path = Week2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Week2/exercise1/lib/forge-std"]
	path = Week2/exercise1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week2/exercise1/lib/openzeppelin-contracts"]
	path = Week2/exercise1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Week2/exercise1/lib/murky"]
	path = Week2/exercise1/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "Week2/exercise1/lib/RSA-presale-allowlist"]
	path = Week2/exercise1/lib/RSA-presale-allowlist
	url = https://github.com/RareSkills/RSA-presale-allowlist
[submodule "Week2/exercise2/lib/forge-std"]
	path = Week2/exercise2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week2/exercise2/lib/openzeppelin-contracts"]
	path = Week2/exercise2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
